<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="gameService" class="ru.otus.service.impl.GameServiceImpl">
        <constructor-arg ref="questionDao" />
    </bean>

    <bean id="questionDao" class="ru.otus.dao.impl.QuestionDaoCSV">
        <constructor-arg value="questions.csv" />
    </bean>

</beans>
